.sub-title {
    font-size: 2.0rem;
}

.sub-header {
    font-size: 1.0rem;
    text-align: center;
    color: white;
    background: #333;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sub-header2 {
    font-size: 1.0rem;
    text-align: center;
    color: white;
    background: #9D9D9D;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}